body {
    header {

        padding-top: 20px;
        padding-bottom: 0px;

        div#title {
            padding: none;
            margin: none;

            #name {
                font-size: 30px;
            }

            #trade {
                padding-top: 0px;
            }
        
        }

        #aside {
            padding-top: 25px;
            li {
                a.contact-link {
                    display: block;
                    line-height: 2px;
                    font-size: 11px;
                }
            }
        }
    }

    main {

        padding-top: 10px;

        .sub-header-container {
            margin-bottom: 0px;

            .statement {
                margin-top: 5px;
                margin-bottom: 0px;
                font-size: 13px;
                line-height: 16px;
            }
        }

        .sub-header {
            font-size: 15px;
        }

        .job {

            margin-bottom: 0px;

            li {
                line-height: 11px;
            }
        }

        .section-divider {
            height: 12px;
        }
    }
}