$bg-dark: #433e48;
$dark: #353039;
$mid: #b4acbc;
$subtle-border: #928a9a;
$cream: #dbc996;
$faint: #d0c3dc;
$bg-light: #e3daec;
$dates: #6c5c7a;

$blue: #58b3f4;
$red:#ec6b6b;

$shadows: 6px 6px 6px $dark;
$shadows2: 4px 4px 4px $dates;