@import "palette";

body {
    margin: 0px;
}

header, main {
    margin: 20px 180px 20px;
    padding: 100px 80px 53px 100px;
}


header {

    padding: 36px 48px 20px 100px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: 80% 20%;

    #title {

        margin: 0px;
        margin-top: 0px;
        padding: 20px 0px;

        name {
            letter-spacing: 6px;
            font-size: 49px;
            margin-bottom: 20px;
        }
        
        #trade {
            font-size: 14px;
            padding-top: 14px;
            letter-spacing: 4px;
        }
    }

    #aside {

        a, li {
            font-size: 14px;
            float: right;
        }

        li {
            margin: 0px 0px 16px;
            letter-spacing: 2px;
        }

        ul {
            padding: 0px;
            margin: 0px;
        }

    }

}

 
main {
    margin-top: 0px;
    padding-top: 40px;
}

.mobile {
    display: none;
}

// this container is necessary because the sub-header itself is displayed inline, which makes it difficult to add a margin-bottom
.sub-header-container {
    margin-bottom: 30px;
    // this left margin is to match the padding for .job
    margin-left: 20px;
}

.sub-header {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0px;
    margin-top: 0px;
}

// JOB

.job {
    padding: 14px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 33px;

    .dates {
        font-size: 18px;
    }
    
    .role {
        font-size: 24px; 
        display: inline;
        padding-right: 10px;
    }
    
    .role-divider {
        margin-left: 1px;
        padding-right: 1px;
    }
    
    li {
        margin-top: 7px;
        font-size: 18px;
    }

}

@media screen and (max-width: 1140px){
    header, main {
        margin: 20px;
        margin-top: 20px;
        padding: 40px;
    }

    header {
        margin-bottom: 0px;
        // this prevents the contact li's to wrap into 2x2
        grid-template-columns: 80% 20%;
    }

    main {
        margin-top: 0px;
    }


}

@media screen and (max-width: 760px){
    // hide the normal #trade and #aside menus
    #trade, #aside {
        display: none;
    }

    // GET RID OF DISPLAY:GRID
    header {
        display: block;
        // CENTER ELIJAH KENNEDY
        text-align: center;

        #title {
            padding-bottom: 15px;
        }
    }

    .mobile {
        display: inline;

        // TRADES BAR
        .trades-mobile {

            padding-bottom: 15px;

            a {
                font-size: 130%;
                display: inline;
                text-align: center;
                // KERNING
                margin: 5%;
                color: $bg-dark;
                text-shadow: 1px 1px $dates;
            }
        }

        // CONTACTS VERTICAL MENU
        #mobile-contact {
            padding: 10px 0px 10px 10px;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            text-align: center;

            .contact-entry {

                text-align: left;
                display: inline;
                text-align: center;

                padding: 8px 0px 0px 0px;

                i {
                    font-size: 30px;
                    float: center;
                    color: $dates;
                    display: block;
                }

                p, a {
                    display: inline;
                    font-size: 85%;
                    letter-spacing: 1.4px;
                    color: $bg-dark;
                }
            }
        }
    }



    
}

@media screen and (max-width: 740px){


    // I REALLY WANT TO MAKE THIS TWO COLUMNS HERE BUT IT"S NOT WORKING
    .mobile {

        #mobile-contact {
            grid-template-columns: 50% 50%;
            margin: 0px;
            padding: 0px;

            .contact-entry {
                padding-top: 50px;
            }
        }

        .trades-mobile {

            padding-bottom: 0px;

            a, p {
                font-size: 80%;
            }
        }
        
    }

    main {
        .sub-header-container {
            padding-top: 15px;
        }
    }

}

@media screen and (max-width: 420px){

    html {
        background-color: $faint;
    }

    #trade, #aside {
        display: none;
    }
    
    header, main {
        margin: 0px;
        padding: 40px;
    }

    main {
        margin-top: px;
        
        .sub-header-container {
            padding-top: 10px;

            .sub-header {
                font-size: 30px;
                color: $dates;
            }

        }
    }

    header {

        display: block; // this is necessary to get rid of grid
        padding: 20px 20px 4px; // restyle padding to be minimal

        #title {

            padding: 0px;
            text-align: center;

            span.highlight {
                //text-shadow: -2px -2px $dates;
                text-shadow: none;
            }

            #name {
                font-size: 250%;
                letter-spacing: 1px;
                text-shadow: none;
/*                 text-shadow: -2px -2px $red; */
            }
        }

        .mobile {
            padding-top: 15px;
            display: block;

            // TRADES BAR
            .trades-mobile {
                text-align: center;

                a, p {
                    font-size: 150%;
                    display: inline;
                    text-align: center;
                    padding: 6px 0px;
                    margin: 2px;
                    color: $bg-dark;
                    text-shadow: 1px 1px $dates;
                }
            }

            // CONTACTS VERTICAL MENU
            #mobile-contact {
                padding: 20px 0px 10px 10px;
                display: block;
                text-align: center;

                .contact-entry {

                    text-align: left;
                    display: block;

                    padding: 8px 0px 20px 24px;

                    i {
                        display: inline;
                        font-size: 20px;
                        padding-right: 4px;
                        color: $dates;
                    }

                    p, a {
                        display: inline;
                        font-size: 16px;
                        letter-spacing: 1.4px;
                        color: $bg-dark;
                    }
                }
            }
        }

    }

    main {

        padding: 32px 8px 25px;

        .sub-header {
            font-size: 20px;
        }

        .square {
            display: none;
        }

        .job {

            h4.dates {
                color: $dates;
                font-size: 13px;
/*                     font-size: 16px; */
                font-weight: 600;
                padding-left: 1px;
            }

            padding-bottom: 0px;
            margin-bottom: 22px;

            .role {

                color: $dates;

                border: none;

                .role-divider {
                    display: none;
                }

                .dates, .role-title, .employer {
                    display: block;
                    font-size: 16px;
                }

                .employer {
                    padding-bottom: 0px;
                    border-bottom: 4px solid $faint;
                }

            }

            .descrip {

                position: relative;
                padding: 0px;
                padding-left: 14px;
                margin: 0px;
                top: -18px;
    
                ul {
                    padding: 0px;
                    margin: 0px;
                }
    
                li {
                    font-size: 14px;
                    margin: 0px;
                    margin-bottom: 7px;
                }
            }
        }
    

    }
    
}

/* 
@media (max-width: 800px) {

    header, main {
        margin: 0px;
        margin-top: 0px;
        padding: 40px;
    }

    header {

        grid-template-columns: 70% 30%;

        #title {
            name {
                font-size: 50px;
            }

        }
    }

}

@media (max-width: 800px) {
    header {

        grid-template-columns: 100% 30%;

        #title {
            name {
                font-size: 50px;
            }

        }

        #aside {
            display: none;
        }
    }


    main {
        #aside-mobile {
            padding-bottom: 20px;
            margin-bottom: 33px;
            display: block;
        }
        
        #mobile {
            display: block;
        }

        a {
            display: block;
            line-height: 26px;
        }

        a:hover {
            color: $red;
            font-weight: 700;
        }

    }
} */