/* @media print { */

    @page {
        size: auto;  margin: 0mm;
    }

    header, main {
        margin: 0px;
        margin-top: 0px;
        padding: 80px;
        background: white;
    }

    header {
        padding-top: 60px;
        padding-bottom: 30px;
        border-bottom: 2px solid #d0c3dc;

        .highlight, .highlight2 {
            text-shadow: 0px 0px white;
        }
    
        #name {
            font-size: 40px;
            text-shadow: 0px 0px white;
        }
    }

    main {
        padding-top: 60px;

        .job {

            .role {
                font-size: 20px;
                border: none;
            }
            
        }
    }

/* } */