@import "palette";

    $highl: #b191d0;

    @page {
        size: auto;  margin: 0mm;
    }

    main, header {
        box-shadow: none;
    }

    header, main {
        margin: 0px;
        margin-top: 0px;
        padding: 80px;
        background: white;
    }

    header {
        padding-top: 40px;
        padding-bottom: 20px;
        border-bottom: none;

        .highlight, .highlight2 {
            text-shadow: 0px 0px white;
        }
    
        #name {
            font-size: 40px;
            text-shadow: 0px 0px white;
            letter-spacing: 5px;
        }

        .focus-container {
            margin-top: 12px;
        }

        #statement {
            padding-left: 0px;
            margin-left: 0px;
        }

        h3 {
/*             border-bottom: 4px solid #d0c3dc;
            border-left: 4px solid #d0c3dc;
            padding-left: 7px;
            padding-bottom: 2px; */
            display: inline;
            letter-spacing: 2px;
            font-size: 14px;
        }

        #aside {
            li {
                a {
                    color: $bg-dark;
                }
            }
        }
    }

    main {

        padding-top: 20px;

        #printme {
            display: none;
        }

        .sub-header {
            font-size: 20px;
            color: #353039;
            border-bottom: none;
            font-style: italic;
            border-bottom: 2px solid $dates;
        }

        .sub-header-container {
            margin-bottom: 10px;
        }

        #filter {
            display: none
        }

        .job, .ed {

            // This beautiful line prevents page breaks from splitting up jobs
            page-break-inside: avoid;

            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
            padding-bottom: 0px;

            .dates {
                padding: 0px;
                font-size: 14px;
                color: #b191d0;
            }

            .role {
                font-size: 16px;
                border: none;
            }

            .descrip {
                margin-top: 5px;
            }

            li {
                font-size: 15px;
                line-height: 14px;
                color: #6c5c7a;
                font-weight: 300;
            }
            
        }
    }