@import "palette";

html {
    background: $bg-dark;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

main, header {
    box-shadow: $shadows;
}

header {

    #title {
    
        name {
            font-weight: 700;
        }
    
        .highlight-slash {
            color: $dates;
            transition: color 4s;
        }
    }

    #aside {

        ul {
            list-style: none;
        }
    }
}

header:hover {

    #aside {

        a {
            color: $bg-dark;
        }

        a:hover {
            color: white;
            font-weight: 900;
        }
    }
}

main {
    background: $bg-light;

    .sub-header {
        border-bottom: 2px solid $faint;
        // to limit underline
        display: inline;
    }
    
    .job {

        font-weight: 300;
        color: $dates;
        
        .role {
            border-bottom: 4px solid $faint;
            color: $bg-dark;
        }
        
        .role-name {
            font-weight: 600;
        }

        .employer {
            font-weight: 300;
        }

    }

    .square {
        position: relative;
        height: 20px;
        width: 20px;
        left: -30px;
        top: 28px;
        z-index: 5;
    }

}