@import "palette";


// HEADER OUT
header {
    background: $faint;
    transition: background 1s;

    name {
        color: $bg-dark;
        text-shadow: -2px -1.5px $dates;
        transition: text-shadow 1s, color .8s .4s;
    }

    .highlight {
        color: $bg-dark;
        text-shadow: -4px -3px $red;
        transition: text-shadow 1s, color .8s .4s;
    }

    .highlight-slash {
        color: $subtle-border;
        transition: color 4s;
    }

}

// HEADER IN
header:hover {
    background: $red;
    transition: background 1s;

    name, .highlight {
        text-shadow: 4px 3px $dates;
        color: $red;
        transition: text-shadow 1s, color 1s;
    }

    // Links
    a {
        color: $bg-dark;
    }

    a:hover {
        color: white;
        font-weight: 900;
    }

    .highlight-slash {
        color: $red;
        transition: color 2s;
    }

}



//JOB OUT
.square {
    background-color: $faint;
    -webkit-transition: background-color 1s;
}

// JOB IN
.job:hover {
    background: $faint;

    .square {
        background-color: $red;
        -webkit-transition: background-color 1s;
    }
}