body {
}

header, main {
    margin: 240px;
    margin-top: 40px;
    padding: 100px;
}

header {
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
}

main {
    margin-top: 0px;
    padding-top: 40px;
}

name {
    font-size: 80px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    letter-spacing: 5px;
}


.sub-header {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0px;
    margin-top: 0px;
}

h4 {
    margin: 0px;
    padding-top: 0px;
}

li {
    margin-top: 7px;
}

.descrip {
    margin-top: 14px;
    margin-bottom: 63px;
}

.role-divider {
    margin-left: 1px;
    padding-right: 1px;
}